{% load static %}

<link href="{% static 'css/main.css' %}" rel="stylesheet"/>

<div class="container-fluid main-menu" style="margin-top: auto; margin-bottom: auto;">
    <div class="d-flex flex-row flex-wrap align-items-stretch main-menu__wrapper">
        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'company:search' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/search1.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ПОИСК ОРГАНИЗАЦИЙ</h3>
                        <p>поиск карточек организаций по параметрам</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'comments:search_comments' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/search2.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ПОИСК ПЕРЕГОВОРОВ</h3>
                        <p>поиск переговоров сотрудников с организациями</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'reminders:search_reminders' %}">
                <div class="thumbnail">
                    <div class="position-relative">
                        {% if reminders_count > 0 %}
                            <span class="badge position-absolute top-0 start-50 rounded-pill" style="position: absolute; background:red; font-size:18px; ">
                                {{ reminders_count }}
                            </span>
                        {% endif %}
                        <img class="main-menu__image" src="{% static 'img/idea.png' %}" alt="Меню">
                    </div>
                    <div class="caption">
                        <h3>ПОИСК НАПОМИНАНИЙ</h3>
                        <p>поиск Ваших напоминаний по работе c организациями</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'crm:tasks' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/tasks.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ЗАДАЧИ для МЕНЕДЖЕРОВ</h3>
                        <p>добавление, просмотр, удаление, назначение сотрудникам</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'crm:requests' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/statistics.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ЗАЯВКИ</h3>
                        <p>просмотр заявок</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'comments:search_comments_in_requests' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/search2.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ПОИСК ПЕРЕГОВОРОВ <br>В ЗАЯВКАХ</h3>
                        <p>поиск переговоров сотрудников с организациями</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'reminders:search_reminders_by_requests' %}">
                <div class="thumbnail">
                    <div class="position-relative">
                        {% if reminders_count > 0 %}
                        <span class="badge position-absolute top-0 start-50 rounded-pill" style="position: absolute; background:red; font-size:18px; ">
                            {{ reminders_count }}
                        </span>
                        {% endif %}
                        <img class="main-menu__image" src="{% static 'img/idea.png' %}" alt="Меню">
                    </div>
                    <div class="caption">
                        <h3>ПОИСК НАПОМИНАНИЙ <br>ПО ЗАЯВКАМ</h3>
                        <p>напоминания тех.специалистов</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'crm:tasks_pom' %}">
                <div class="thumbnail">
                    <div class="position-relative">
                        <!-- <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger" style="position: absolute; background:red; font-size:20px; "> -->
                        <span class="badge position-absolute top-0 start-50 rounded-pill" style="position: absolute; background:red; font-size:18px; ">
                            {{ tasks_pom_count }}
                        </span>
                        <img class="main-menu__image" src="{% static 'img/tasks.png' %}" alt="Меню">
                    </div>
                    <div class="caption">
                        <h3>ЗАДАЧИ для ПОМОЩНИКОВ</h3>
                        <p></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'crm:projects' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/briefcase.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ПОЛЬЗОВАТЕЛИ И ПРОЕКТЫ</h3>
                        <p>списки пользователей и проектов</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'crm:statistics' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/statistics.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>СТАТИСТИКА РЕГИОНОВ</h3>
                        <p>просмотр статистики</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'crm:logstore' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/log.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ДЕЙСТВИЯ ПОЛЬЗОВАТЕЛЕЙ</h3>
                        <p>просмотр активности сотрудников</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/email.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>РАССЫЛКИ</h3>
                        <p>поиск отправленных email сообщений</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 px-2 py-1 text-center">
            <a href="{% url 'emails:email_list' %}">
                <div class="thumbnail">
                    <img class="main-menu__image" src="{% static 'img/email.png' %}" alt="Меню">
                    <div class="caption">
                        <h3>ПОЧТА</h3>
                        <p>email-сообщения / шаблоны / просмотр почты</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
