
{% if comments %}
{% for comment in comments %}
    <tr><td>{{ forloop.counter }}</td>
        <td>{{ comment.created_at|date:"d.m.Y H:i" }}</td>
        <td><a href="{% url 'company:view' comment.request.company.id_company %}">{{ comment.request.company.name_company }}</a></td>
        <td>
            {% if comment.status == 1 %}
            <b> {{ "<Р>" }}</b>
            {% else %}
            <b>{{ "<Н>" }}</b>
            {% endif %}
            
            {% autoescape off %}
                {{ comment.text|linebreaks|truncatechars:500|urlize  }}
            {% endautoescape %}
        </td>
    </tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="4"><p class="text-center">Больше записей нет</h3></td>
</tr>
{% endif %}


