

{% extends "base_templates/base.html" %}

{% block title %} Поиск по напоминаниям {% endblock %}

{% load user_groups %}

{% load static %}

{% block content %}

<link href="{% static 'css/main.css' %}" rel="stylesheet"/>

<div class="container-fluid" style="margin-top: auto; margin-bottom: auto;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'crm:index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'company:search' %}">Поиск компаний</a></li>
            <li class="breadcrumb-item active" aria-current="page">Поиск по напоминаниям</li>
        </ol>
    </nav>

    <div class="d-flex p-3">
        <div class="col-md-4 bg-light-subtle p-3 align-self-start rounded" style="margin-right: 20px">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Параметры поиска</b></h4></div>
                <hr>
                <div class="panel-body">
                    <table class='table'>
                        <tr style="background-color: #ddd;">
                            <th>Параметр</th>
                            <th>Значение</th>
                        </tr>
                        <form action="" method="POST">
                            {{ search_form.as_table}}
                            {% csrf_token %}
                            
                            <tr>
                                <td colspan='2'>
                                    <input type="submit" name="poisk" value="Поиск"
                                        class="btn btn-primary btn-lg btn-block w-100">
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>

        <div class="col bg-light-subtle p-3 rounded">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Перечень найденных напоминаний</b></h4></div>
                <hr>
                <div class="panel-body">
                    <p><i>*Вывод имеющихся напоминаний осуществляется в обратном хронологическом порядке по штук в блоке. 
                        Нажмите "Загрузить еще", чтобы проверить наличие других напоминании. Для осуществления операций 
                        над напоминаниями - перейдите в карточку компании.</i></p>
                    
                    <p><strong>Всего записей: {{ reminders_list_count }}</strong></p>
                    <table class='table' id="reminders_table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Дата напоминания</th>
                                <th>Наименование компании</th>
                                <th>Текст напоминания</th>
                            </tr>
                        </thead>
                        <tbody id="reminders_table_body">
                            {% include 'reminders/pages/partials/search_reminders.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            {% if reminders_list_count > 0 and reminders_list_count > 15 %}
            <div class="text-center" id="load-more-block">
                <button id="load-more" class="btn btn-primary">
                    Загрузить еще
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block domready %}
var page = 1;
var emptyPage = false;
var blockRequest = false;
const url = '{% url "reminders:search_reminders_only" %}'
var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
}

document.querySelector('button#load-more').addEventListener('click', function(e) {
    e.preventDefault();

    blockRequest = true;
    page += 1;
    var formData = new FormData();
    formData.append('date_reminder_from', document.querySelector('input[name="date_reminder_from"]').value);
    formData.append('date_reminder_to', document.querySelector('input[name="date_reminder_to"]').value);
    formData.append('regions', document.querySelector('select[name="regions"]').value);
    formData.append('name_company', document.querySelector('input[name="name_company"]').value);
    formData.append('status_job', document.querySelector('select[name="status_job"]').value);
    formData.append('reminder_keyword', document.querySelector('input[name="reminder_keyword"]').value);
    formData.append('users', document.querySelector('select[name="users"]').value);
    formData.append('limit', document.querySelector('select[name="limit"]').value);
    formData.append('main_card', document.querySelector('select[name="main_card"]').value);

    options['body'] = formData;
    fetch(url + '?reminders_only=1&page=' + page, options)
    .then(response => response.text())
    .then(html => {
        if (html == '') {
            document.querySelector('#load-more-block > button').style.display = "none";
            document.querySelector('#load-more-block').innerHTML = "<strong>Больше записей нет.</strong>";
        } else {
            document.querySelector('table#reminders_table > tbody > tr:last-child').insertAdjacentHTML('afterend', html);
            let table = document.querySelectorAll('table#reminders_table > tbody tr');
            let tableLineCounter = 1;
            for (let elem of table) {
                elem.querySelector('td:first-child').innerHTML = tableLineCounter;
                tableLineCounter++;
              }
        }
        <!-- document.querySelector('#content').innerHTML = html; -->
    })
})  
{% endblock %}